name: CI

on:
  push:
    #Do not run on main to avoid duplicate builds during release
    branches-ignore:
      - '!master'
      - '!main'
      #Run on release tags
    tags:
      - 'v*'

jobs:
  ci:
    uses: europeana/metis-actions/.github/workflows/ci.yml@main
    with:
      sonar_organization: europeana
      sonar_project_key: europeana_metis-schema
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  deploy-artifacts:
    needs: ci
    uses: europeana/metis-actions/.github/workflows/deploy-artifacts.yml@main
    secrets: inherit
